<section class="user">
  <ul *ngIf="user">
    <li class="l2">Name: {{user.name}}</li>
    <li class="l3">Surname: {{user.surname}}</li>
    <li class="l1">Birthdate: {{user.birthdate}}</li>
    <li class="l3">Start date: {{user.startdate}}</li>
    <li class="l2">User name: {{user.username}}</li>
  </ul>
  <img class="imgFirst" src="assets/300.png" alt="img no encontrada">
</section>
<section class="search">
  <div class="md-form mt-0">
    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
  </div>
</section>
<section class="fatherFriends">
  <section class="friends">
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="..." class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <p class="card-text">Juanito</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="posibleFriend">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="..." class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
