img{
     border-radius: 50%;
     width: 15vw;
     height: 30vh;
     position: relative;
     left: 2vw;
}

ul{
    position: relative;
    top: 2vw;
    right: 70vw;
    display: block;
    float: right;
}