<section>
  <ul *ngIf="user">
    <li>Name: {{user.name}}</li>
    <li>Surname: {{user.surname}}</li>
    <li>Birthdate: {{user.birthdate}}</li>
    <li>Start date: {{user.startdate}}</li>
    <li>User name: {{user.username}}</li>
  </ul>
  <img src="assets/300.png" alt="img no encontrada">
</section>
<section>
  <textarea [(ngModel)]="historie.text" rows="4" cols="50"></textarea>
<button (click)="postHistorie(historie)">Send historie</button>
</section>
<section>
  <h2>My histories</h2>
  <section *ngFor="let h of allHistories">
    <!-- Salida de la historie -->
    <img [src]="h.user.img" alt="">
    <p>{{h.text}}</p>

  </section>
</section>