img{
     border-radius: 50%;
     width: 15vw;
     height: 30vh;
     position: relative;
     left: 35vw;
}

ul{
    position: relative;
    top: 2vw;
    right: 30vw;
    display: block;
    float: right;
}
li{
    padding-bottom: 0.5em;
}
.l2{
    position: relative;
    right: 5vw;
}
.l3{
    position: relative;
    right: 4vw;
}
.l1{
    position: relative;
    right: 3vw;
}

