<section class="user">
  <ul *ngIf="user">
    <li class="l2">Name: {{user.name}}</li>
    <li class="l3">Surname: {{user.surname}}</li>
    <li class="l1">Birthdate: {{user.birthdate}}</li>
    <li class="l3">Start date: {{user.startdate}}</li>
    <li class="l2">User name: {{user.username}}</li>
  </ul>
  <img class="imgFirst" src="assets/300.png" alt="img no encontrada">
</section>

<section class="historie">
  <textarea [(ngModel)]="historie.text" rows="4" cols="50"></textarea>
  <button class="btn btn-primary" (click)="postHistorie(historie)">Send</button>
</section>

<!-- <h2>My histories</h2> -->
<section class="outHistorie">
  <section class="out" *ngFor="let h of allHistories">
    <!-- Salida de la historie -->
    <div class="card">
      <p>{{h.user.username}}</p>
      <img [src]="h.user.img" class="card-img" alt="...">
      <div class="card-body">
        <p class="card-title">{{h.date | date: 'M/d/yy, h:mm a'}}</p>
        <p class="card-text">{{h.text}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

  </section>
</section>
